In [1]:
#Data Types & Data Structures
#Identifying Data Types
a = 42
b = 32.30
print(type(a))#gets type of a
print(type(b))#gets type of b

<class 'int'>
<class 'float'>

In [2]:
#Lists
# Assign a list to an variable named my_list
my_list = [1,2,3]
len(my_list)

3

In [3]:
#Lists
# Assign a list to an variable named my_list
my_list = ['A string',23,100.232,'o']
len(my_list)

4

In [4]:
#Adding New Elements to a list
my_list = ['one','two','three',4,5]
# append a value to the end of the list
l = [1, 2.3, ['a', 'b'], 'New York']
l.append(3.1)
print(l)

[1, 2.3, ['a', 'b'], 'New York', 3.1]

In [5]:
#Adding New Elements to a list
# extend a list with another list.
l = [1, 2, 3]
l.extend([4, 5, 6])
print(l)

[1, 2, 3, 4, 5, 6]

In [7]:
#Slicing
lst = list(range(10)) # create a list containing 10 numbers starting from 0
print(lst)
print("elements from index 4 to 7:", lst[4:7])
print("alternate elements, starting at index 0:", lst[0::2])
# prints elements from index 0 till last index with a step of 2
print("every third element, starting at index 1:", lst[1::3])
# prints elements from index 1 till last index with a step of 3

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
elements from index 4 to 7: [4, 5, 6]
alternate elements, starting at index 0: [0, 2, 4, 6, 8]
every third element, starting at index 1: [1, 4, 7]

In [8]:
#Dictionaries
#Constructing a Dictionary
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}
# Call values by their key
my_dict['key2']

'value2'

In [22]:
#Dictionaries
#Constructing a Dictionary
my_dict['key1']=123
my_dict
{'key1': 123, 'key2': 'value2'}
my_dict['key1']  = my_dict['key1'] - 123
#Check
my_dict['key1']

0

In [19]:
# Set the object equal to itself minus 123
my_dict['key1'] -= 123
my_dict['key1']

-123

In [26]:
# Create a new dictionary
d = {}

In [32]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [28]:
#Set and Booleans
#Sets
x = set()
# We add to sets with the add() method
x.add(1)
#Show
x

{1}

In [29]:
# Add a different element
x.add(2)
#Show
x

{1, 2}

In [30]:
# Create a list with repeats
l = [1,1,2,2,3,4,5,6,1,1]
# Cast as set to get unique values
set(l)

{1, 2, 3, 4, 5, 6}